<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="SqlConnectionString" value="Provider=SQLOLEDB;Server=VISHRUT-PC\SQLEXPRESS;Database=Billing_POS;Uid=sa;Pwd=sa123;"/>
    <add key="BasePath" value="H:\Official\Personal\BillingSystem_V2\BillingSystem\BillingSystem\Reports"></add>
  <add key="ResourcePath" value="H:\Official\Personal\BillingSystem_V2\BillingSystem\BillingSystem\Resources"></add>
  </appSettings>
</configuration>
